.game-preview {
    @include game-preview;
    @media (max-width: $mobile-breakpoint){
        @include game-preview-phone
    }
}

#add-game-main {
    display: flex;

    .sidebar {
        @include sidebar;
    }
    @media (max-width: $mobile-breakpoint){
        flex-direction: column;
        align-items: center;
        .sidebar {
            @include game-sidebar-phone;
        }
    }
}

#games-results {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}


