.landing-nav {
    display: flex;
    background: $oxfordBlue;
    height: 10vh;
    width: 100%;
    justify-content: space-between;

    #title-container {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-family: $staat;
        color: $platinum;
        font-size: 2em;
        letter-spacing: 3px;
    }
}

.button-container {
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .action-button {
        @include action-button;
        :hover {
            cursor: pointer;
        }
    }
}

@media(max-width: $mobile-breakpoint){
    .button-container {
        width: 50%;

        .action-button {
            @include action-button-phone
        }
    }
}