@mixin action-button {
    height: 25%;
    width: 15%;
    border-radius: 7.5px;
    background: $platinum;
    border: $orangeWeb 3px solid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: $oxfordBlue;
        font-weight: bold;
        font-size: 1em;
    }
}

@mixin user-button {
    height: 25%;
    width: 15%;
    border-radius: 7.5px;
    background: $platinum;
    border: $orangeWeb 3px solid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: $oxfordBlue;
        font-weight: bold;
        font-size: 1.05em;
    }
}

@mixin auth-page {
    height: 100vh;
    width: 100vw;
    background: $oxfordBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
        color: $oxfordBlue;
        font-family: $lato;
    }
}

@mixin auth-container {
    width: 35%;
    height: 80%;
    background: $platinum;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: $black 0px 10px 50px;
    border-radius: 50px;
}

@mixin auth {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    ::placeholder {
        font-size: 18px;
        letter-spacing: 1px;
        color: $oxfordBlue;
        opacity: 50%;
        text-indent: 15px;
    }

    .form-input {
        box-sizing: border-box;
        padding: 10px;
        width: 80%;
        height: 5%;
        border-radius: 5px;
        border: $oxfordBlue solid 1px;
    }

    button {
        width: 30%;
        background-color: $oxfordBlue;
        color: $orangeWeb;
        height: 5%;
        width: 80%;
        border-radius: 5px;
        border: $orangeWeb solid 1px;
        font-size: 18px;
    }
}

@mixin game-preview {
    img {
        max-width: 25%;
    }
    box-sizing: border-box;
    width: 18%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    text-align: center;
    box-shadow: 1px 0 10px $platinum;


}

@mixin sidebar {
    width: 15%;
    height: 100vh;
    padding-left: 1%;
    margin-top: 2%;

    form {
        display: flex;
        height: 20%;
        flex-direction: column;
        align-items: center;

        input {
            width: 75%;
            height: 10%;
            border-radius: 5px;
            border: 1px solid $oxfordBlue;
            text-align: center;
            margin-bottom: 5%;
        }

        button {
            width: 50%;
            height: 10%;
            border-radius: 10px;
            background: $oxfordBlue;
            color: $platinum;
            border: 2px solid $orangeWeb;
        }

        h3 {
            margin-left: 5%;
        }
    }
}
