// Colors
$black: #000000;
$oxfordBlue: #14213D;
$orangeWeb: #FCA311;
$platinum: #E5E5E5;
$white: #FFFFFF;
$blue: #2a4681;

//Fonts
$lato: 'Lato', sans-serif;
$mont: 'Montserrat', sans-serif;
$open: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$source: 'Source Sans Pro', sans-serif;
$staat: 'Staatliches';

//breakpoints
$desktop-breakpoint: 1500px;
$tablet-breakpoint: 800px;
$mobile-breakpoint: 400px; 